/* * {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
} 

.home-section {
  background-image: url('images/pepe-cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  animation: background-switch 22s infinite;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  
}
.home-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 75, 0.9);
}
@keyframes background-switch {
  0% {
    background-image: url(images/ifeoma.jpg);
  }
  25% {
    background-image: url(images/kachi.jpg);
  }
  50% {
    background-image: url(images/logo.jpg);
  }
  75% {
    background-image: url(images/meloddy.jpg);
  }
  100% {
    background-image: url(images/pepe-cover.jpg);
  }
}

h1 {
  color: rgb(227, 225, 243);
}

 */


 * {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.home-section {
  background-image: url('images/pepe-cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  animation: background-switch 22s infinite;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.home-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 75, 0.9);
}

@keyframes background-switch {
  0% { background-image: url(images/ifeoma.jpg); }
  25% { background-image: url(images/kachi.jpg); }
  50% { background-image: url(images/logo.jpg); }
  75% { background-image: url(images/meloddy.jpg); }
  100% { background-image: url(images/pepe-cover.jpg); }
}

.logo {
  color: rgb(227, 225, 243);
  font-size: 2.5rem;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  animation: glow 1s infinite alternate;
  font-family:cursive;
}

@keyframes glow {
  0% { text-shadow: 0 0 20px rgba(230, 228, 228, 0.8); }
  100% { text-shadow: 0 0 30px rgba(255, 255, 255, 1); }
}

.main-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.song-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}
